<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"  xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	 <Product Id="*" Name="damienbod SLAB out-of-process" Language="1033" Version="1.0.0.0" Manufacturer="damienbod" UpgradeCode="2e31d6a9-9e73-40d0-b714-ef071e546f61">
    <Package Id="*" InstallerVersion="305" InstallScope="perMachine" Compressed="yes" />
     
		<MediaTemplate />

     <Property Id="INSTALLPATH">C:\damienbod</Property>
     
     <!-- Installationsbeschränkungen prüfen. -->
    <PropertyRef Id="NETFRAMEWORK40FULL" />

    <Condition Message="!(loc.ErrorNet40NotInstalled)">
      <![CDATA[Installed OR NETFRAMEWORK40FULL]]>
    </Condition>

    <Condition Message="!(loc.ErrorAdministrativePriviledgesRequired)">
      <![CDATA[Privileged]]>
    </Condition>

      <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id='ProgramFilesFolder' Name='PFiles'>
        <Directory Id='damienbod' Name='damienbod'>
          <Directory Id='INSTALLPATH' Name='SlabOutOfProcess' >
					</Directory>
        </Directory>
      </Directory>
    </Directory>
    
     <DirectoryRef Id='INSTALLPATH'>
      <Directory Id='INSTALLDIR_SlabOutOfProcess' Name='SlabOutOfProcess' />
    </DirectoryRef>
   

    <Feature Id="ProductFeature" Title="WiXServiceSilentInstaller" Level="1">
      <ComponentGroupRef Id="SlabOutOfProcessGroup" />
      <ComponentRef Id="SlabOutOfProcessRegisterComponent" />     
    </Feature>
     
     <Component Id='SlabOutOfProcessRegisterComponent' Guid='ABB394C2-21A1-4132-AB7D-95CBBABE5B0A' Directory='INSTALLDIR_SlabOutOfProcess' Feature='ProductFeature' DiskId='1'>
			<File Id="SlabOutOfProcessExe" Name="SemanticLogging-svc.exe" Source="..\outOfProc\SemanticLogging-svc.exe" KeyPath="yes" DiskId="1"/>

			<ServiceInstall Id='SlabOutOfProcessExeServiceInstall' Name='Enterprise Library Semantic Logging Service' Description='damienbod SLAB out-of-process service' ErrorControl='normal' Start='auto' Type='ownProcess' Vital='yes' />
			<ServiceControl Id='SlabOutOfProcessExeServiceInstall' Name='Enterprise Library Semantic Logging Service' Start='install'  Remove='uninstall' Wait='yes' />
       
			<CreateFolder />
		</Component>
    
    <!-- Sicherstellen das Upgrades erlaubt sind. -->
    <MajorUpgrade Schedule="afterInstallInitialize" AllowDowngrades="no" DowngradeErrorMessage="!(loc.ErrorNewerVersionInstalled)" AllowSameVersionUpgrades="yes" />

  </Product>
</Wix>
